body {
    text-align: center;
    background: url('images/background.jpg');
}

.page {
    height: 100vh;
    width: 100vw;
}

.break-on-mobile {
    display: none;
}

/*Home*/
.home-info {
    padding: 2rem;
    color: white;
}

.divider {
    height: 2px;
    background-color: white;
}

.full-name {
    margin-bottom: 0;
}

.designation {
    margin: 0 auto;
}

@media screen and (max-width: 328px){
    .home-info {
        padding: 0.5rem;
    }

    .break-on-mobile {
        display: block;
    }
}
