<div class="introduction">
	{{ with .Site.Params.projects }}
	<h4>Selected Projects</h4>
	<ul>
		{{- range $index, $projects_map := $.Site.Params.projects -}}

		{{ range $elem_index, $project := $projects_map.project }}
		<li>
			{{ if $project.project_page }}
			<a href="{{ $project.project_page }}" class="project"> <b> {{ $project.name }} </b></a>
			{{ else }}
			<p class="project"> <b> {{ $project.name }} </b></p>
			{{ end }}

			{{ if or ($project.code_link) ($project.blog_link) }}
			<span class="code_blog">
				{{ with $project.code_link }}
				[<a href="{{ . }}">code</a>]
				{{ end }}

				{{ with $project.blog_link }}
				[<a href="{{ . }}">blog</a>]
				{{ end }}
			</span>
			{{ end }}

			{{ with $project.description }}
			<span class="project_description">
				{{ . | markdownify}}
			</span>
			{{ end }}
			
			{{ if ($project.tech_stack) }}
			<span class="collaborators">
				Tools & Technologies: {{ $project.tech_stack | markdownify }}
			</span>
			{{ end }}

		</li>
		{{ end }}

		{{- end -}}
	</ul>
	{{ end }}
</div>
